#buttonRed{
	background-color: red;           /* colours the different buttons*/
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
}

#buttonGreen{
	background-color: green;
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
	
}

#buttonOrange{
	background-color: orange;
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
	
}

#buttonBlue{
	background-color: blue;
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
	
}

#buttonYellow{
	background-color: yellow;
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
	
}
#buttonPurple{
	background-color: purple;
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
}

#buttonNavy{
	background-color: navy;
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
}

#buttonBlack{
	background-color: black;
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
}

#buttonPurple{
	background-color: purple;
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
}

#buttonSilver{
	background-color: silver;
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
}

#buttonPink{
	background-color: pink;
	border-radius:100%;
	padding: 12px 28px;
	height:50px;
}
#count{                                    
	border-radius:30%;
	padding: 12px 28px;
	font-color:black;
	background-color: white;
}

#cart{
	border-radius:30%;
	padding: 12px 90px;
	color:white;
	background-color: black;

}
 #color{
    text-align:left;
 	margin-right:70px;
 	padding:100px;
 }

#color{
	margin-right:6200px;
}



.container .row #plus img{     /*changes size of img too large*/
	width:67%;

}


.modal .modal-content #buttons li{                          /* displays buttons on same line*/
	display: inline-block;
	
	
	
}
#buttons li{
	text-decoration: none;
}

#buttons #Agree{
	background-color: lightgreen;


	margin-left: 580px;

	padding: 10px;
	border-radius: 20%;
	
}

#buttons #Cancel{
	background-color: red;
	padding: 10px;
	border-radius: 20%;
}




img {
  max-width: 100%;
  height: auto;
}
/*.modal-content{
	border: dashed;

}*/
#star{
	list-style: none;
    width: 100%;
    height: 90px;
    margin-top:30px;
    margin-bottom: -50px;
    padding: 0px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;

}
#star li{
	display: inline-block;
	
	height:100%;
	padding-left: 45px;
	
}
#star li img{
	width:160px;
}
#mali{
	list-style: none;
    width: 100%;
    height: 90px;
    /*margin: 0;
    padding: 0;*/
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#mali li{
  display: inline-block;
	
	height:100%;
	margin-left: 0px;
	padding-left: 2px;
	padding-right: 30px;
	/*width:200px;*/
}

#money{
	list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#money li{
	display: inline-block;
	width:50%;
	height:100%;
}
#mali #amount {

	font-weight: bold;
	font-size: x-large;
}

#percent p{
	font-weight: bold;
}

#chosenC{
	padding-right: 30px;
}
.container .row{
	padding:0;
}
.container .row .col-xs-4{   /*for displaying amounts on same row*/
	padding-left:75px;
}

.container #moola .col-xs-4 p{   /*for displaying amounts on same row*/
	width:50%;
}
.container .row .col-xs-4 img{
	width:100px;
}

.container #modalChoose{
	list-style: none;
    width: 100%;
    /*height: 90px;*/
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: visible;
    
}

.container #modalChoose .col-sm-2{
	width:auto;

}
#mali li #bold{
	font-weight: bold;
}

/*.modal .modal-content #agreeDis{
	list-style: none;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    
    

}
.modal .modal-content #agreeDis li{
	display: inline-block;

}*/


